node_modules
.next
.turbo
dist
.DS_Store
*.log
.env
.env.local
.env*.local
.vercel
target
.anchor
test-ledger
**/.cargo
**/target/
*-keypair.json
.rustc_info.json
apps/web/tsconfig.tsbuildinfo
packages/sdk/dist
.idea
.vscode
.cursor
